* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.main-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: black;
}

.menu-item {
  color: black;
  font-size: 20px;
}

.main-title {
  color: black;
  font-size: 60px;
}

.title {
  color: black;
  font-size: 40px;
  /* padding-top: 200px; */
}

.block-first {
  width: 1700px;
  height: 1024px;
  background-color: #cccbcb;
  /* background-image: url("./images/cs16.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 50px;
  padding: 50px;
}

.text1 {
  color: black;
  width: 800px;
  font-size: 30px;
}

.block-second {
  width: 1700px;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-image: url("./images/cs2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; */

  padding: 50px;
}

.text2 {
  color: black;
  width: 800px;
  font-size: 30px;
}

.evolution {
  height: 160px;
  width: 562px;
}

.block-third {
  width: 1700px;
  height: 1024px;
  background-color: #cccbcb;
  /* background-image: url("./images/cs3.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; */
  padding: 50px;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.third-leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ct {
  height: 900px;
}

.block-forth {
  width: 1700px;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.text4 {
  color: black;
  width: 800px;
  font-size: 30px;
  text-align: center;
}

.forth-rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.connect {
  height: 1024px;
}

.telegram_logo {
  width: 150px;
}
